html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: rgb(247, 247, 247);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  grid-template: 10rem 8rem 400px 2rem 4rem auto / 11fr 15rem 400px 17fr;
  grid-template-areas:
    "header   header   header   header"
    "....     ....     playset  ....  "
    "....     control  game     ....  "
    "....     ....     dialog   ....  "
    "....     ....     again    ....  "
    "....     ....     ....     ....  "
  ;
  gap: 1rem;
}

/* DEBUGGING */
* {
  /* outline: 1px solid grey; */
}

/* LAYOUT */
.grid {
  display: grid;
}
.flex {
  display: flex;
}

/* header */
.header {
  grid-area: header;
  justify-content: center;
  align-content: end;
  font-size: 5rem;
  font-weight: bold;
  background-color: rgb(241, 241, 241);
  box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.58);
}
h1 {
  margin-bottom: 0.8rem;
}

/* playset */
.playset {
  grid-area: playset;
  grid-template: repeat(3, 1fr) / 2fr 3fr;
  gap: 0.5rem;
}
.playset label {
  align-self: center;
  justify-self: center;
  font-size: 1.1rem;
  margin-left: 2rem;
  font-style: italic;
}
.playset input {
  align-self: center;
  justify-self: start;
  width: 20ch;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid grey;
  padding: 0.5rem;
  font-size: 1rem;
}
.playset button {
  grid-column: span 2;
  width: 80%;
  justify-self: center;
  border: none;
  border-radius: 0.4rem;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  background: rgb(54, 87, 252);
}

/* playset INTERACTIVE */
.playset > button:enabled:hover {
  background-color: rgb(40, 40, 59);
  cursor: pointer;
}
.playset > input:disabled,
.playset > button:disabled {
  background-color: rgb(174, 174, 174);
}

/* control */
.control {
  grid-area: control;
  background-color: white;
  border-radius: 0.5rem;
  border: 2px solid rgba(55, 55, 55, 0.58);
  box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.58);
  grid-template-rows: 2fr 1fr 2fr;
}
.control .profile {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
}
.profile h3 {
  font-size: 1.3rem;
  font-weight: bold;
}
.profile h4 {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
}
.profile p {
  text-align: center;
  margin-top: 0.5rem;
}
.profile p span {
  font-weight: bold;
}
.control .vs {
  background-color: rgb(236, 236, 236);
  text-align: center;
  align-content: center;
}
.vs p {
  font-size: 2.5rem;
  font-weight: bold;
  font-style: italic;
}
.profile.active {
  box-shadow: 0px 0px 26px 4px rgba(124,149,252,0.56);
}

/* gameboard */
.game {
  grid-area: game;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  border-radius: 1rem;
  background-color: rgb(207, 207, 207);
  overflow: hidden;
  box-shadow: 5px 5px 15px -3px rgba(0,0,0,0.58);
}
.game.active {
  background-color: rgb(40, 40, 59);
}
.game > div {
  outline: 1px solid rgb(176, 176, 176);
}

/* gametiles */
.game > div {
  display: grid;
  place-content: center;
  font-size: 3rem;
}
.game.active > div {
  color: white;
  cursor: pointer;
}

/* gametiles INTERACTIVE */
.game > div.available {
  background: rgb(62, 62, 90);
}
.game > div.unavailable {
  background: rgb(59, 40, 40);
}

/* dialog */
.dialog {
  grid-area: dialog;
  place-content: center;
  font-size: 1.2rem;
}
.message-generator {
  align-self: center;
}

/* final buttons */
.again {
  grid-area: again;
  justify-content: space-between;
}
.again > button {
  width: 48%;
  border-radius: 0.4rem;
  border: none;
  border-radius: 0.4rem;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: rgb(174, 174, 174);
}
.again > button.active:hover {
  background: rgb(109, 109, 143);
}
.again > button.active {
  background: rgb(40, 40, 59);
  cursor: pointer;
}
button.reset {
  background: rgb(90, 49, 49);
}
button.reset:hover {
  background: rgb(140, 81, 81);
  cursor: pointer;
}